<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ToyStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
<body>
    <form action="/product/edit/{{product._id}}" method="post">
<section class="vh-100 bg-image"
  style="background-image: url(../images/background2.jpg);object-fit: cover">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit product</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="" name="name" value="{{product.name}}" placeholder="Name of product" class="form-control form-control-lg" required />
                </div>
                <div class="form-outline mb-4">
                  <input type="url" id="" name="image" value="{{product.image}}" placeholder="Image" class="form-control form-control-lg" required />
                </div>
                  <div class="form-outline mb-4">
                  <input type="text" id="" name="price" value="{{product.price}}" placeholder="Price" class="form-control form-control-lg" required/>
                </div>
                <br>Type of Product: 
                 <select name="type">
                 {{#each types }}
                 <option value="{{ _id }}"> {{ name }}</option>
                    {{/each}}
                  </select>
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Edit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
</body>
</html>